<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.wake_in_place">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAf6XzMPIZrF2x1JMeKUIN1Y51wVr2hW8g" />

        <activity
            android:name=".ui.activities.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <receiver android:name=".ui.services.AlarmReceiver" />

        <service
            android:name=".ui.services.NotificationService"
            android:enabled="true" />

        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.RegisterAlarmActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.MyPlacesActivity"/>
        <provider
            android:name=".data.WakePlaceContentProvider"
            android:authorities="udacity.contentprovider.wake"
            android:exported="false" />
        <receiver android:name=".widgets.AlarmsListWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/alarms_list_widget_info" />
        </receiver>

        <service
            android:name=".widgets.AlarmsIntentService"
            android:exported="false" />

        <service
            android:name=".widgets.AlarmsWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>